body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: lightblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
